DATABASE_URL="postgresql://reachinbox:reachinbox_dev@localhost:5432/reachinbox"

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS_MS=5000
GLOBAL_HOURLY_LIMIT=1000
TENANT_HOURLY_LIMIT=500

ELASTICSEARCH_URL="http://localhost:9200"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="http://localhost:5000/api/auth/callback/google"

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI="http://localhost:5000/api/slack/callback"
